/IPDnet2/venv_wsl
/IPDnet2/arch/base/__pycache__
/IPDnet2/__pycache__
/IPDnet2/ipdnet2
/IPDnet2/utils/__pycache__
/IPDnet2/hidden96_fre128
/IPDnet2/hidden96_fre128_2batch
/IPDnet2/test_data/test_gen
/IPDnet2/inference_results
/IPDnet2/inference_results_dominant
/IPDnet2/lightning_logs
/IPDnet2/logs
/IPDnet2/RealMAN
/IPDnet2/inference_results_70
/IPDnet2/inference_results_dominant_70
/IPDnet/__pycache__
/IPDnet/logs
/IPDnet/utils/__pycache__
/IPDnet/DOA_eval/__pycache__
/IPDnet/inference_results
/IPDnet/results
/IPDnet/lightning_logs
